/* ================================
   Rafting Site Stylesheet
   Author: Erubami Freedom
   File: rafting.css
   ================================ */

/* CSS Variables (color scheme + fonts) */
:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia",  serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

/* Reset Box Model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  
}

/* Layout Width Control */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

/* Headings */
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Navigation, Paragraphs, Sections, Articles */
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

/* Footer Social Media Links */
.socialmedia a {
  text-decoration: none;
}

/* Hero Section */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

/* Hero Heading Overlay */
.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; /* white text */
}

/* Hero Article Overlay */
.hero article {
    float: right;
    width: 125px
 
}

/* Image inside Hero Article */
.hero article img {
  float: right;
  width: 125px;
  margin-left: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
